body{
    background: #c0c0c0;
}
.container-fluid{
    display:flex;
    flex-flow:column;
    min-height: 100vh;
}
.button{
    border:2px solid var(--login-header);
}
.button:hover{
    background: var(--login-header);
    color:white;
}
header{
    background: var(--login-header);
    color:white;
}
#border{
    background: rgb(217,217,217);
}
thead{
    border-bottom: 3px solid black;
}
th{
    border-right:1px solid black;
}
th:last-of-type{
    border-right: none;
}
form{
    border:2px solid var(--login-header);
    background:#d9d9d9;
}
main{
    margin-top:auto;
}
footer{
    background: var(--promo-dark);
    color: var(--bs-light);
    min-height: 25px;
    margin-top:auto;
}
table{
    background:white;
}
.flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
@media screen and (max-width:768px) {
    form{
        border: none;
    }
}